<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"><?define ClipTree.UI_TargetDir=$(var.ClipTree.UI.TargetDir)?>
	<Product Id="*" Name="ClipTree" Language="1033" Version="0.9.4.2" Manufacturer="Bunoon" UpgradeCode="0c33bc04-cd03-4e7b-ada0-449d028a93cf">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="ClipTree" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ClipTree" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="ClipTree.exe" Guid="34261a18-49d5-426d-bb7b-dbfd6db3e49d">
			  <File Id="ClipTree.exe" Name="ClipTree.exe" Source="$(var.ClipTree.UI_TargetDir)ClipTree.exe" />
			</Component>
			<Component Id="ClipTree.exe.config" Guid="0be82765-6679-4882-9933-1ea0d23da030">
			  <File Id="ClipTree.exe.config" Name="ClipTree.exe.config" Source="$(var.ClipTree.UI_TargetDir)ClipTree.exe.config" />
			</Component>
			<Component Id="ClipTree.Engine.dll" Guid="c5b8ae1d-1308-4afb-a6ac-18d8aedf91f6">
			  <File Id="ClipTree.Engine.dll" Name="ClipTree.Engine.dll" Source="$(var.ClipTree.UI_TargetDir)ClipTree.Engine.dll" />
			</Component>
			<Component Id="ClipTree.UI.Tools.dll" Guid="ac5a918d-a7da-432a-ac01-8cffb81ebccc">
			  <File Id="ClipTree.UI.Tools.dll" Name="ClipTree.UI.Tools.dll" Source="$(var.ClipTree.UI_TargetDir)ClipTree.UI.Tools.dll" />
			</Component>
			<Component Id="log4net.dll" Guid="8eca0cfd-2812-417d-a475-c6a6f7bc9c78">
			  <File Id="log4net.dll" Name="log4net.dll" Source="$(var.ClipTree.UI_TargetDir)log4net.dll" />
			</Component>
			<Component Id="Xceed.Wpf.AvalonDock.dll" Guid="8be99289-6428-4ab3-9e0d-a8c5139662e0">
			  <File Id="Xceed.Wpf.AvalonDock.dll" Name="Xceed.Wpf.AvalonDock.dll" Source="$(var.ClipTree.UI_TargetDir)Xceed.Wpf.AvalonDock.dll" />
			</Component>
			<Component Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Guid="1421365d-726a-44b6-ae20-7f7e4dbb5dff">
			  <File Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Name="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Source="$(var.ClipTree.UI_TargetDir)Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
			</Component>
			<Component Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Guid="6b48b9cb-a742-4abd-bee7-5ce26b553c57">
			  <File Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Name="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Source="$(var.ClipTree.UI_TargetDir)Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
			</Component>
			<Component Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Guid="e14ccc73-78e2-4eb6-a4b4-95e3bfa70dfd">
			  <File Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Name="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Source="$(var.ClipTree.UI_TargetDir)Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
			</Component>
			<Component Id="Xceed.Wpf.DataGrid.dll" Guid="df269cfc-7ead-48d4-8f52-af752fefb267">
			  <File Id="Xceed.Wpf.DataGrid.dll" Name="Xceed.Wpf.DataGrid.dll" Source="$(var.ClipTree.UI_TargetDir)Xceed.Wpf.DataGrid.dll" />
			</Component>
			<Component Id="Xceed.Wpf.Toolkit.dll" Guid="96baefa5-470a-4a42-b7a1-a8499757173e">
			  <File Id="Xceed.Wpf.Toolkit.dll" Name="Xceed.Wpf.Toolkit.dll" Source="$(var.ClipTree.UI_TargetDir)Xceed.Wpf.Toolkit.dll" />
			</Component>
			<Component Id="Hardcodet.Wpf.TaskbarNotification.dll" Guid="62f4b719-2ee0-4a5d-8e4b-02635cc4b1f4">
			  <File Id="Hardcodet.Wpf.TaskbarNotification.dll" Name="Hardcodet.Wpf.TaskbarNotification.dll" Source="$(var.ClipTree.UI_TargetDir)Hardcodet.Wpf.TaskbarNotification.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
